/* Write your code here: */

/*Groupp Selector */
h1,
h2 {
  color: purple;
}

/* Child Selector */
.box > p {
  color: firebrick;
}

/* Descendent Selector */
.box li{
    color: blue;
}

/* Chaining Selector */
li.done{
    color: seagreen;
}

/* Combining Combiners */
ul p.done{
    font-size: 0.5em;
}
/* or  */
/* ul>p.done{
    font-size: 0.5em;
} */